
<div class="contenedor">
  <div class="contenedor-inner">
    <div class="seccion0">
      <h1>PROXIMAMENTE PODRAS ELEGIR LAS PELICULAS Y CINES QUE TE GUSTEN</h1>
    </div>
    <div class="seccion1">
    <div class="imagen-actual imagen-seccion">
      <img [src]="imagenes[indiceActual].url" [alt]="imagenes[indiceActual].descripcion">
    </div>
    <div class="indicadores">
      <span *ngFor="let imagen of imagenes; let i = index" [class.activo]="i === indiceActual" (click)="cambiarImagen(i)"></span>
    </div>
  </div>
  </div>
</div>
