
/* styles.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cover-image {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

.contenedor {
  background-color: #eff0f2; /* Color */
  margin: 0 150px; /* Margen a la derecha e izquierda para dejar espacios en blanco */
  height: calc(120vh - 40px); /* Altura del 100% del viewport (pantalla) menos los márgenes */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.contenedor-inner {
  width: 100%; /* El contenedor interno ocupa el 100% del contenedor padre */
  background-color: #acacac00; /* Color de fondo del contenedor cuadrado */
}

.imagen-seccion {
  text-align: center; /* Centra horizontalmente el contenido */
  height: 100%; /* La sección ocupa el 100% de la altura del contenedor interno */
}

.imagen-seccion img {
  width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor (la sección) */
  height: 100%; /* La imagen ocupa el 100% de la altura de su contenedor (la sección) */
  object-fit: cover; /* Escala la imagen para llenar completamente su contenedor sin distorsión */
}
.galeria {
  display: flex;
  transition: transform 0.5s ease;
}

.indicadores {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicadores span {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicadores span.activo {
  background-color: #007bff; /* Cambia el color del indicador activo */
}

.seccion1 {
  padding-bottom: 200px;
}

.body{
  background-color: rgb(129, 129, 129);
}

h1{
font-size: 20px;
text-align: center;
font-family:'Roboto Condensed', sans-serif;
}

.seccion0{
  margin-bottom: 100px;
  margin-top: -100px;
}
