.toolbar-container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-left: 150px;
  padding-right:150px;
}

.toolbar{
  background-color: rgb(219, 219, 219);
  color:rgb(139, 0, 0);
  font-size: 30px;
}

.toolbar img{
  width: 3%;
}
.buttons {
  padding-left: 1200px;
  display: flex;
  gap: 10px; /* Espacio entre botones */
}

.header-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
