.mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Color de fondo del toolbar */
    color: #fff; /* Color de texto del toolbar */
    padding: 10px 20px;
}
  /* Estilos para el lado derecho del toolbar (opciones de navegación) */
  .right {
    align-items: right;
    gap: 20px;
  }
  
  .right a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s; 
  }
  

  .right a:hover {
    color: #ff5722; 
  }